<?xml version="1.0"?>
<config>
	<modules>
		<NewsModules_FixCatalogRule>
			<version>0.1.0</version>
		</NewsModules_FixCatalogRule>
	</modules>
	<global>
		<models>
			<catalogrule>
				<rewrite>
					<observer>NewsModules_FixCatalogRule_Model_Observer</observer>
				</rewrite>
			</catalogrule>
		</models>
	</global>
</config>